<table class="table table-bordered table-striped table-condensed table-hover">
  <thead>
  <tr>
    <th>Wikis</th>
    <th>Body</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>

    <tbody>
      <% @wikis.each do |wiki| %>
        <tr>
          <td><%= link_to wiki.title, wiki_path(wiki)%></td>
          <td><%= link_to 'Show', wiki %></td>
          <td><%= link_to 'Make Changes', edit_wiki_path(wiki) %></td>
          <td><%= link_to 'Delete', wiki, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
</table>

 <br>

  <%= link_to "Add Wiki", new_wiki_path, class: 'btn btn-success' %>
