<!DOCTYPE html>
<html>
  <div class="container">
    <head>
      <title id="logo">Blocipedia</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= csrf_meta_tags %>
    </head>
    <body>
      <%= render "layouts/navigation" %>
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
      <div class="container-fluid">
        <%= yield %>
      </div>
      </body>
      <footer>
        <h4>footer</h4>
      </footer>
  </div>
</html>
